<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% unless page.title %}Creazione siti web e consulente SEO a Udine | {{ site.title }}{% endunless %}{% if page.title %}{{  page.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 163 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <!-- Twitter Open Graph -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@sitiweb.fvg" />
  <meta name="twitter:creator" content="@sitiweb.fvg" />
  <meta name="twitter:title" content="SITIWEB.fvg è creazione siti web, SEO e Siti internet a Udine" />
  <meta name="twitter:description" content="Web agency per creazione siti web e posizionamento siti internet e SEO per aziende e professionisti, Udine Trieste Gorizia Pordenone, prezzi onesti!" />
  <meta name="twitter:image" content="http://www.sitiweb.fvg.it/img/sitiweb.fvg-share.jpg" />
	<!-- Facebook Open Graph -->
  <meta property="fb:profile_id" content="1529185313761350"/>
  <meta property="og:title" content="SITIWEB.fvg è creazione siti web, SEO e Siti internet a Udine" />
  <meta property="og:description" content="Web agency per creazione siti web e posizionamento siti internet e SEO per aziende e professionisti, Udine Trieste Gorizia Pordenone, prezzi onesti!" />
  <meta property="og:url" content="http://www.sitiweb.fvg.it/" />
  <meta property="og:site_name" content="sitiweb.fvg-Web-Agency-Udine" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="http://www.sitiweb.fvg.it/img/sitiweb.fvg-share.jpg" />
  <script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "WebSite",
    "name" : "sitiweb.fvg è Agenzia Web a Udine. Realizzazione siti web. SEO.",
    "url" : "http://www.sitiweb.fvg.it/",
    "potentialAction" : {
      "@type" : "SearchAction",
      "target" : "http://www.sitiweb.fvg.it/cerca/?s={search}",
      "query-input" : "required name=search"
    }
  }
  </script>
  <script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "WebPage",
    "name" : "{{ page.title }}",
    "url" : "http://www.sitiweb.fvg.it{{ page.permalink }}"
  }
  </script>
</head>
